.navbar-section{
    min-height: 100px;
    background-color: var(--bg);
    color: white;
    display: flex;
    position: sticky;

}

.navbar-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    max-width: 200px;
}

.nav-list{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-item{
    font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}